/* Generellt */
main {
    width: 100%;
    height: 100%;
}
#background {
    background-image: url("/static/bakgrundsbild.jpg");
    background-color: rgb(190, 214, 170);
    height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(243, 244, 247);
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 80px;
}
#logotype {
    width: 130px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Startsida */
#home_page {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(82, 82, 82);
    width: 80%;
    margin: auto;
}
#home_page > h2 {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    font-size: 50px;
    font-weight: 600;
}



.nav-item {
    float:right;
    padding-left: 40px;
    padding-top: 15px;
}
#map {
    height: 450px;
    width: 100%;
}

/*Info rutorna på kartan*/
#pictureongym {
    width: 50%;
    height: 50%;
    float:right;
}
#content > p{
    margin: 0px;
    padding-right: 2%; 
}
#content > a {
    padding-right: 1%;
    width: 10px;
}
#content {
    max-width: 300px;
}

/* Undermeny till sidan för lista av gym */
#sub-menu {
    background-color: rgb(248, 248, 250);
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}
#sub-menu > h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(82, 82, 82);
    margin-left: 30px;
    padding-top: 10px;
    font-weight: 600;
}
#sub-menu > p {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 700px;
    color: rgb(82, 82, 82);
    margin-left: 30px;
}

/* Dropdown-funktion */
.dropbtn {
    background: rgb(153, 184, 129);
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background: rgb(196, 212, 184);
}
.dropdown {
    position: relative;
    float: right;
    margin-right: 30px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f6f8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #d8dadd;
    color: white;
    text-decoration: none;
}
.show {
    display:block;
}

/* Lista med gym */ 
.flexbox-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    background-color: rgb(248, 248, 250);
}
.flexbox-item {
    position: relative;
    margin: 10px;
}
.flexbox-item > a > img {
    width:  270px;
    height: auto;
}
.flexbox-item > a > p {
    opacity: 0;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 20%;
    left: 40%;
    transition: 0.5s;
}
.overlay-flex {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 100%;
    background-color: rgb(196, 212, 184);;
    transition: .3s ease;
}
.text-flex {
    color: rgb(0, 0, 0);
    background-color: rgb(196, 212, 184);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    height: 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.text-flex:link, .text-flex:hover, .text-flex:visited {
    color: black;
    text-decoration: none;
}
.flexbox-item:hover .overlay-flex {
    height: 30%
}
.flexbox-item:hover img {
    opacity: 0.5;
    transition: .3s ease;
}
.flexbox-item:hover p {
    opacity: 1;
}

/* Info om gym */
#info_gym {
    display: block;
    background-color: rgba(248, 248, 250, 0.938);
    width: 80%;
    margin: auto;
    padding: 10px;
    padding-bottom: 10px;
}
#gym_pic {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#info_gym > h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(82, 82, 82);
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
}
#info_gym > p {
    font-family: 'Open Sans', sans-serif;
    color: rgb(82, 82, 82);
    text-align: center;
    font-size: 18px;
    width: 85%;
    margin: auto;
    margin-top: 40px;
}
#buttton {
    background: rgb(147, 180, 120);
    color: white;
    border-style: none;
    padding: 10px 20px;
    margin-left: 10px;
    margin-top: 20px;
    display: inline;
    border-radius: 0;
}
#buttton:hover {
    background: rgb(171, 199, 148);
}

/* Läsa recension */
#reviews {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
#read_review {
    margin-right: 10px;
}
#read_review_titel {
    background-color:rgb(197, 216, 182);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: rgb(121, 151, 96);
    border-bottom-width: 5px;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
}
#read_review_titel > p {
    margin-top: 7px;
    float: right;
    font-size: 18px;
    color: rgb(121, 151, 96);
}
#review_box {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 280px;
    margin: auto;
    overflow-y: scroll;
}
#review {
    height: auto;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
}
#name, #grade {
    display: inline;
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;
}
#date {
    padding-left: 15px;
    color: #ccc;
    font-weight: 500;
}
#comment {
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    width: 100%;
}

/* Skriva recension */
#write_review {
    margin-left: 10px;
}
#write_review_titel {
    background-color:rgb(197, 216, 182);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border-bottom-style: solid;
    border-bottom-color: rgb(121, 151, 96);
    border-bottom-width: 5px;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
}
#review_form {
    width: 500px;
    height: 280px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 15px;
}
#form_gym {
    display: none;
}

/* Formulär */
input[type="text"] {
    border:2px solid #ccc; 
    border-radius: 5px;
}
select {
    border: 2px solid #ccc; 
    border-radius: 5px;
}
textarea {
    border:2px solid #ccc; 
    border-radius: 5px;
}
input[type="submit"] {
    padding:5px 30px; 
    margin: 10px 0px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}
input[type="submit"]:hover {
    background:rgb(231, 231, 231); 
}

/* Linje under rubriken på första sidan */
.line {
    width: 100%;
    color:  rgb(82, 82, 82);
}
#footer_div {
    margin-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    background-color: rgb(248, 248, 250);
    color:  rgb(82, 82, 82);
    display: flex;
    justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
#footer_div h5 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 5px;
}
#footer_members > div > p {
    display: inline;
    margin-right: 15px;
}



/* Sökruta */
#searchbar {
    width: 250px;
    border: none;
    background-color: rgba(230, 230, 230, 0.5);
}
.search {
    position: relative;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 6px;
    background-color: rgba(230, 230, 230, 0.9);
}
.search--loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: rgb(147, 180, 120);
    border-radius: 5px;
    animation: searchIndicator 0.5s infinite ease-in-out;
}
@keyframes searchIndicator {
    0% { width: 15% }
    50% { width: 100% }
    100% { width: 15% }
}
#list {
    display: none;
}
.search:focus-within #list {
    list-style-type: none;
    background-color:rgba(230, 230, 230, 0.9);
    display: block;
    position: absolute;
    width: 250px;
    padding: 5px;
    padding-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#list > a, a:link, a:visited, a:hover {
    font-size: 15px;
    color: black;
}
/* Knapp som tar dig till toppen av sidan */
#ScrollToTop {
    position: fixed;
    right: 20px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(147, 180, 120);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    transition: 1;
}
#ScrollToTop:hover, #ScrollToTop:active {
    background: rgb(171, 199, 148);
}

/* Responsiv design */
@media screen and (max-width: 1300px) { 
    /* Lista med gym */
    #sub-menu {
        width: 90%;
    }
    .dropbtn {
        width: 100%;
    }
    .dropdown {
        display: block;
        float: none;
        margin: 0;
    }
    .dropdown-content {
        background-color: #f5f6f8bd;
        width: 100%;
    }
    .dropdown-content a:hover {
        background-color: #d8daddb7;
    }
    .flexbox-container {
        width: 95%;
    }
    .flexbox-item > a > img {
        opacity: 0.8;
    }
    .flexbox-item > a > p {
        opacity: 1;
        transition: none;
    }
    .overlay-flex {
        transition: none;
    }
    .flexbox-item:hover .overlay-flex {
        height: 16%
    }    

    /* De enskilda gymmens sidor */
    #reviews {
        display: block;
    }
}

@media screen and (max-width: 600px) { 
    /* Startsidan */
    .footer_heading, .footer_text {
        margin-left: 20%;
    }
    .search {
        width: 100px;
        margin-left: 40px;
    }
    #searchbar {
        width: 100px;
    }

    /* Lista med gym */
    #background {
        background-image: none;
    }
    #sub-menu {
        width: 100%;
    }
    .flexbox-container {
        width: 100%;
    }
    #sub-menu > h2 {
        font-size: 100px;
    }
    #sub-menu > p {
        font-size: 50px;
    }

    /* De enskilda gymmens sidor */
    .btn.btn-outline-secondary {
        width: 70px;
        height: 30px;
        font-size: 13px; 
        font-family: 'Times New Roman', Times, serif;
    }
    #review_titel > p {
        float: left;
    }
    #name {
        width: 160px;
    }
}
