main{
    width: 100%;
    height: 100%;
}
#wrapper{
    width: 100%;
    height: 100%;
}
#startsida > h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}
#startsida > p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#logga {
    width: 130px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.nav-item {
    float:right;
    padding-left: 40px;
    padding-top: 15px;
}
#map {
    height: 450px;
    width: 100%;
}
#punktlista {
    margin-top: 40px;
    margin-left: 35%;
    font-size: 20px;
    position: absolute;
    text-align: center;
    list-style-type: none;
}
#punktlista > li > a {
    color: black;
    font-family: monospace;
    background-color: lavenderblush;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.5);
}
#punktlista > li {
    margin-top: 10px;
}
#bakgrundsbild {
    position: absolute;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.5);
}
#info_gym {
    position: absolute;
    width: 60%;
    height: 70%;
    margin-left: 20%;
    margin-top: 50px;
    border-radius: 100px;
    box-shadow: 10px 10px 15px rgba(0,0,0, 0.4);
    background-color: #fff;
    opacity: 0.4;
}
#info_gym > p {
    text-align: center;
    font-family: monospace;
    font-size: 25px;
}
#info_gym > h1 {
    font-family: monospace;
    text-align: center;
    margin-top: 40px;
}