main{
    width: 100%;
    height: 100%;
}
#wrapper{
    width: 100%;
    height: 100%;
}
#startsida > h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}
#startsida > p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#logga {
    width: 130px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.nav-item {
    float:right;
    padding-left: 40px;
    padding-top: 15px;
}
#map {
    height: 450px;
    width: 100%;
}

/* Punktlista */
#punktlista {
    position: absolute;
    font-size: 20px;
    list-style-type: none;
    margin-left: 3%;
    margin-right: 3%;
}
#punktlista > li {
    float: left;
    text-align: center;
    margin: 40px 20px;
}
#punktlista > li > a > p {
    background-color: rgba(202, 202, 202, 0.199);
}
#punktlista > li > a > img {
    max-width: 300px;
    height: 100%;
    opacity: 0.5;
}
#punktlista > li > a:link, a:visited {
    color: black;
    float: left;   
    width: 300px;
    height: 200px;
}
#punktlista > li > a:hover {
    color: black;
    text-decoration: none;
}
#punktlista > li > a:hover > img {
    opacity: 1;
}
#punktlista > li > a:hover > p {
    background-color: rgba(202, 202, 202, 0.445);
}

/* Info om gym */
#info_gym {
    position: absolute;
    width: 60%;
    height: 70%;
    margin-left: 20%;
    margin-top: 50px;
    border-radius: 100px;
    box-shadow: 10px 10px 15px rgba(0,0,0, 0.4);
    background-color: #fff;
    opacity: 0.4;
}
#info_gym > p {
    text-align: center;
    font-family: monospace;
    font-size: 25px;
}
#info_gym > h1 {
    font-family: monospace;
    text-align: center;
    margin-top: 40px;
}