main {
    width: 100%;
    height: 100%;
}
#wrapper {
    width: 100%;
    height: 100%;
}
#startsida > h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}
#startsida > p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#logga {
    width: 130px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.nav-item {
    float:right;
    padding-left: 40px;
    padding-top: 15px;
}
#map {
    height: 450px;
    width: 100%;
}

/* Punktlista */
#lista_container {
    width: 80%;
    margin: auto;
}
.lista_ul {
    padding: 0;
    margin: auto;
}
.lista_li {
    position: relative;
}
.lista_ul > li > a > img {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: rgb(232, 236, 240);
    width: 100%;
    transition: .3s ease;
}
.lista_ul > li {
    width: 23%;
    display: inline-block;
    list-style-type: none;
    margin: 10px;
}
.text {
    color: rgb(0, 0, 0);
    background-color: rgb(232, 236, 240);
    width: 100%;
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    text-align: center;
    height: 25px;
    font-size: 20px;
    margin-top: 0%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.text:link, .text:hover, .text:visited {
    color: black;
    text-decoration: none;
}
.lista_li:hover .overlay {
    height: 35%
}
.lista_li:hover img {
    opacity: 0.5;
    transition: .3s ease;
}

/* Info om gym */
#info_gym {
    position: absolute;
    width: 60%;
    height: 70%;
    margin-left: 20%;
    margin-top: 50px;
    border-radius: 100px;
    box-shadow: 10px 10px 15px rgba(0,0,0, 0.4);
    background-color: #fff;
    opacity: 0.4;
}
#info_gym > p {
    text-align: center;
    font-family: monospace;
    font-size: 25px;
}
#info_gym > h1 {
    font-family: monospace;
    text-align: center;
    margin-top: 40px;
}

/* Bakgrundsbild */
#bakgrundsbild {
    position: absolute;
}