main {
    width: 100%;
    height: 100%;
}

#startsida > h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}
#startsida > p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 80px;
}
#logga {
    width: 130px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.nav-item {
    float:right;
    padding-left: 40px;
    padding-top: 15px;
}
#map {
    height: 450px;
    width: 100%;
}

/* Punktlista */
#lista_container {
    width: 80%;
    margin: auto;
}
.lista_ul {
    padding: 0;
    margin: auto;
}
.lista_li {
    position: relative;
}
.lista_ul > li > a > img {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: rgb(232, 236, 240);
    width: 100%;
    transition: .3s ease;
}
.lista_ul > li {
    width: 23%;
    display: inline-block;
    list-style-type: none;
    margin: 10px;
}
.text {
    color: rgb(0, 0, 0);
    background-color: rgb(232, 236, 240);
    width: 100%;
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    text-align: center;
    height: 25px;
    font-size: 20px;
    margin-top: 0%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.text:link, .text:hover, .text:visited {
    color: black;
    text-decoration: none;
}
.lista_li:hover .overlay {
    height: 35%
}
.lista_li:hover img {
    opacity: 0.5;
    transition: .3s ease;
}

/* Info om gym */
#info_gym {
    background-color: rgba(232, 236, 240);
    opacity: 0.9;
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 10px;
}
#info_gym > h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 10px;
}
#info_gym > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding-top: 20px;
}

/* Läsa recension */
#recension_ruta {
    background-color: white;
    width: 80%;
    height: 250px;
    margin: auto;
    overflow: scroll;
}
#recension_titel {
    background-color:rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: rgb(172, 200, 209);
    border-bottom-width: 2px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
}
#review {
    height: auto;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
}
#namn, #datum, #betyg {
    display: inline;
    font-weight: 500;
}
#namn, #datum, #betyg, #kommentar {
    padding: 10px;
}

/* Ge recension */
#skriv_recension {
    background-color: white;
    width: 50%;
    height: 250px;
    margin: auto;
    margin-top: 40px;
}
#skriv_recension_titel {
    background-color:rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    border-bottom-style: solid;
    border-bottom-color: rgb(172, 200, 209);
    border-bottom-width: 2px;
    width: 50%;
    margin: auto;
    padding: 10px; 
}
#skriv_recension > form {
    background-color: white;
    font-weight: 500;
    height: auto;
    margin: auto;
    padding: 10px;
}
#skriv_recension > form > #comment {
    width: 100%;
    height: 70px;
}

/* Bakgrundsbild */
#bakgrundsbild {
    width: 100%;
    height: auto;
    position: absolute;
}
/* Linje under rubriken på första sidan */
.linje {
    width: 80%;
    border: 1px solid; 
    opacity: 0.2;
    color: black;
}
footer > div {
    float: left;
    background-color: #f8f9fa;
    opacity: 0.8;
    width: 33.33%;
    height: 168px;
}
.footer_rubriker {
    margin-top: 10px;
    margin-left: 40%;
    font-family: 'Times New Roman', Times, serif;
}
.footer_text {
    margin-top: 10px;
    margin-left: 40%;
    font-family: 'Times New Roman', Times, serif;
}

/* Sökruta */
#searchbar {
    width: 250px;
}

#list {
    display: none;
}
#search:focus-within #list {
    list-style-type: none;
    background-color:white;
    display: block;
    position: absolute;
    width: 250px;
    padding: 5px;
    padding-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#list > a, a:link, a:visited, a:hover {
    font-size: 15px;
    color: black;
}
