<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Utegym</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="/static/style.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap" rel="stylesheet">        <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap" rel="stylesheet">        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body id="background">

<!-- Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="/">
                <img src="/static/logga.jpg" id="logotype" alt="logotype">  
              </a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/">Hem</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/gym">Alla gym<span class="sr-only">(current)</span></a>
                </li>
              </ul>

<!-- Sökruta i navbar -->
          <form id="search">
            <input id="searchbar" onkeyup="search_gym()" type="text" name="search" placeholder="Sök...">
            <ul id="list">
              <li class="gym"><a href="http://localhost:8000/gym/Beijersparks%20utegym">Beijersparks utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Bellevueparkens%20utegym">Bellevueparkens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Blekeparkens%20utegym">Blekeparkens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Bulltoftas%20utegym">Bulltoftas utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Djupadalsparkens%20utegym">Djupadalsparkens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Enskifteshagens%20utegym">Enskifteshagens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Gamla%20vattentornets%20utegym">Gamla vattentornets utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Hyllie%20sportbyns%20utegym">Hyllie sportbyns utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Lilla%20kalkbrottsparkens%20utegym">Lilla kalkbrottsparkens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Lind%C3%A4ngsparkens%20utegym">Lindängsparkens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Nydalaparkens%20utegym">Nydalaparkens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Ribergsborgsstrandens%20utegym">Ribersborgsstrandens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Roseng%C3%A5rds%20utegym">Rosengårds utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/R%C3%B6rsj%C3%B6parkens%20utegym">Rörsjöparkens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Scaniaparkens%20utegym">Scaniaparkens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Sibbarps%20utegym">Sibbarps utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Skogens%20utegym">Skogens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Spillepengs%20fritidsomr%C3%A5de">Spillepengs fritidsområde</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Stapelb%C3%A4ddsparkens%20utegym">Stapelbäddsparkens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Sundsbroparkens%20utegym">Sundsbroparkens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/S%C3%B6derkullas%20utegym">Söderkullas utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Torups%20skogsgym">Torups skogsgym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Tygelsj%C3%B6s%20utegym">Tygelsjös utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Videdalsparkens%20utegym">Videdalsparkens utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/Ymesparks%20utegym">Ymesparks utegym</a></li>
              <li class="gym"><a href="http://localhost:8000/gym/%C3%96resunds%20Funkis">Öresunds funkis</a></li>
            </ul>
          </form>
          </div>
        </nav>

        <!-- Undermeny -->
    <div id="sub-menu">
      <h2>Utegym</h2>
      <p>Här hittar du alla utegym i Malmö med genomsnittsbetyg 1. Från Torups skogsgym i Bokskogen till Rösjöparkens utegym i innerstaden.</p>
      <!-- Filterknapp -->
      <div class="dropdown">
        <button onclick="dropdownFilterForAverage()" class="dropbtn">Filtrera efter...</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="/gym">Visa alla betyg</a>
          <a href="/gym/5">5/5</a>
          <a href="/gym/4">4/5</a>
          <a href="/gym/3">3/5</a>
          <a href="/gym/2">2/5</a>
          <a href="/gym/1">1/5</a>
        </div>
      </div>
    </div>
    
<!-- Lista med gym -->    
  <div class="flexbox-container">
    %for gym in gyms:
    <div class="flexbox-item">
      <a href="/gym/{{gym[0]}}">
        <img src="{{gym[1]}}" alt="Foto på gym">
        <p>{{gym[2]}}/5</p>
        <div class="overlay-flex">
          <div class="text-flex">{{gym[0]}}</div>
        </div>
      </a>
    </div>
    %end
  </div>

<!--Knapp som gör att man kommer till början av sidan-->
        <div>
          <button id="ScrollToTop">
            <i class="material-icons">arrow_upward</i>
          </button>
        </div>
        
<!-- JavaScript-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src = "/static/functions.js"></script>
    </body>
</html>